# Entornos virtuales
myvenv/
venv/
.venv/

# Node
node_modules/

# Variables de entorno
.env
.env.*

# Git
.git/
.gitignore

# Datos pesados
*.geojson
*.dump
*.log
media/
staticfiles/

# Cache de Django
.cache/