# === Django ===
DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# === Base de datos ===
# Cuando conectemos Supabase, aquí irá la URL completa
DATABASE_URL=

# === (Opcional) Variables de Supabase para otros usos ===
SUPABASE_URL=
SUPABASE_KEY=