# === Django ===
DJANGO_SECRET_KEY=
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# === Base de datos ===
# Cuando conectemos Supabase, aquí irá la URL completa
DATABASE_URL=

# === (Opcional) Variables de Supabase para otros usos ===
SUPABASE_URL=
SUPABASE_KEY=

# === Correo ===
# En desarrollo puede omitirse EMAIL_BACKEND para usar la consola de Django.
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=Cobijo VZLA <no-reply@example.com>
EMAIL_TIMEOUT=10
