# =====================================
# DJANGO
# =====================================

DJANGO_SECRET_KEY=
DJANGO_DEBUG=False

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1


# =====================================
# DATABASE
# =====================================

DATABASE_URL=


# =====================================
# EMAIL
# =====================================

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend


# =====================================
# GIS WINDOWS
# =====================================

GDAL_LIBRARY_PATH=
GEOS_LIBRARY_PATH=


# =====================================
# SUPABASE (OPCIONAL)
# =====================================

SUPABASE_URL=
SUPABASE_KEY=


# =====================================
# PRODUCCION
# =====================================

SECURE_SSL_REDIRECT=False